# Use my user since this is my dev machine and save me from chmod/chown problem.
User {{ ansible_ssh_user }}
Group staff

DocumentRoot "{{ universe }}/apache/htdocs"

<Directory "{{ universe }}/apache/htdocs">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>
